<li ref:menu class="menu {open ? 'open' : 'shut'}">
	<div class="target" on:click="openMenu(open)">
		<div class="avatar" style="background-image: url({$user.avatar});"></div>
		<svg viewBox="0 0 12 8">
			<path fill="#fff" d="M0 0h12L6 8z"/>
		</svg>
	</div>
	<div class="dropdown">
		<ul>
			<li class="action link"><a href="/auth/signout" on:click="signout(event)">Sign Out</a></li>
		</ul>
	</div>
</li>

<script>
	export default {
		data() {
			return {
				open: false,
			}
		},
		oncreate() {
			const menu = this.refs.menu
			this.store.on('state', ({ current/* , changed, previous */ }) => {
				if (menu.contains(current.clickedTarget)) { return }
				this.set({ open: false })
			})
		},
		methods: {
			openMenu(open) {
				this.set({ open: !open })
			},
			signout(event) {
				event.preventDefault()
				this.store.get().signout()
				// console.log(this.fetch)
			},
		}
	}
</script>

<style type="text/scss">
	.menu {
		position: relative;
		margin: 0 0 0 10px;
		font: 1.5rem/1 $font;
		cursor: pointer;
		// &:hover,
		// &:focus {
		// 	path {
		// 		fill: green;
		// 	}
		// }
	}
	.target {
		display: flex;
		align-items: center;
	}
	.avatar {
		width: 40px;
		height: 40px;
		background: none no-repeat center gray;
		background-size: cover; // border-radius: 100%;
		border-radius: 100%;
	}
	svg {
		width: 12px;
		height: 8px;
		margin: 0 0 0 4px;
	}
	.dropdown {
		position: absolute;
		top: -999em;
		left: -999em;
		background-color: white;
		width: auto;
		min-width: 160px;
		margin-top: 12px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 3px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		z-index: $z-front;
	}
	.open {
		.dropdown {
			top: 100%;
			right: 0;
			left: auto;
		}
	}
	a {
		color: $black;
	}
</style>
